@model Wifi.SD.Core.Application.Movies.Results.MovieDto

@{
    ViewData["Title"] = "Details";
}

<h1 class="row justify-content-center">Details</h1>

<div>
    <h4 class="row justify-content-center">Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class = "col-sm-2">
            @BasicRes.Genre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreName)
        </dd>
        <dt class = "col-sm-2">
            @BasicRes.MediumType
        </dt>
        <dd class = "col-sm-10">
            @(Model.MediumTypeName + " " + (Model.MediumTypeCode))
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @string.Format(Model.Price.ToString(), "{0:N}")
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">@BasicRes.Edit</a> |
    <a asp-action="Index" class="btn btn-outline-secondary">@BasicRes.Cancel</a>
</div>
